.about{
    color: white;
    margin-top: 10px;
    font-size: 1.3em;
}

.profile-image{
    border-radius: 50%;
    width: 19em;
    height: 19em;
    margin: 2em;
    margin-bottom: 1em;

}

h1{
    text-align: center;
    color: white;
}
.about-section{
    display: flex;
}


  
@media (max-width: 920px) {
    .article {
      width: 370px;
      flex-direction: column;
      font-size: 1.50em;
    }

    .about-section{
        display:flex;
        flex-direction: column;
    }

    .profile-image{
        margin: 0 auto;
    }
}

@media (max-width: 449px) {
    .profile-image {
         margin-right: 20em;
        
    }

}
@media (max-width: 390px) {
    .profile-image {
        display:none;
        
    }

}