.about{
    color: white;
    margin-top: 10px;
    font-size: 1.3em;
}

.profile-image{
    border-radius: 50%;
    width: 20em;
    height: 20em;
    float:left;
    margin: 2em;

}

h1{
    text-align: center;
    color: white;
}

