.button{
    background-color: orange;
    color: #111111;
    height: 2em;
    border-radius: 7px 7px 7px 7px;
    margin-right: 20px;
    padding: 5px;
    font-size: 1.2rem;
    color: white;
}
button:hover{
    background-color: #111111;
}

@media (max-width: 482px) {
   
    .button{
     font-size: 0.7rem;
     overflow: hidden;
    }
  }
  @media (max-width: 458px) {
   
    .button{
      display: none;
    }
  }

