.header{
    height: 6em;
    width: 100%;
    background-color: #111111;
    color: white;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.btn{
    color:green;
}

.icons{
    font-size: 2em;
    margin-left: 20px;
    display: flex;
    width: 5em;
    justify-content: space-between;

}
@media (max-width: 484px) {
   
    .btn{
      display: none;
    }
  }
  @media (max-width: 290px) {
   
    h2{
      display: none;
    
    }
    .icons{
        margin-left:40px;
    }
  }
  @media (max-width: 190px) {
   
    p{
      display: none;
    }
    .icons{
        margin-left:5px;
    }
  }