.header{
    height: 6em;
    width: 100%;
    background-color: #111111;
    color: white;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.icons{
    font-size: 2em;
    margin-left: 20px;
    display: flex;
    width: 5em;
    justify-content: space-between;

}