.image-section{
    /* position: relative; */
    width: 100%;
    max-width: 100%;
    
    
}
.image{
    background-size: contain;
    width:100%;
    max-width: 100%;
    opacity: 0.5;
    height: 82vh;
}

.main-section{
    position: absolute;
    bottom: 350px;
    color: white;
    font-size: clamp(1.6rem, calc(5vw + 1rem), 2rem);
    padding: 20px;
    
} 

@media (max-width: 840px) {
    .image-section {
      display: flex;
      flex-direction: column;
      font-size: clamp(1.4rem, calc(4vw + 0.8rem), 1.2rem);
    }
  
    .image {
      width: 100%;
    }
  
    .main-section {
      margin-top: 20px;
      font-size: clamp(1.2rem, calc(4vw + 0.8rem), 1rem);
    }
  }

  @media (max-width: 350px) {
    .image-section {
      display: flex;
      flex-direction: column;
      font-size: clamp(0.9rem, calc(4vw + 0.8rem), 0.9rem);
    }
    .image {
      width: 100%;
    }
  
  }
  @media (max-width: 290px) {
   
    h1{
      display: none;
    }
  }
  @media (max-width: 190px) {
   
    p{
      display: none;
    }
    
  }