.services-list{
    display: flex;
    flex-direction: column;
    width: 100%;

 
  }
  .services-list h1 {
    text-align: center;
    color: white;


  }

  .services{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    background-color: #3F8a90;
    justify-content: center;
  
  }



  @media (max-width: 920px) {
    .services {
      display: flex;
      flex-direction: column;
    }
  }





